*{
     /* background-color: aquamarine; 
     border: 1 px solid black;
     border-color: blue; */
         margin: 0;
         /* padding: 0; */
         /* box-sizing: border-box; */
         text-shadow: #3a4452;


}
.container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    
    
}
.calsi{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
    width: 20%;

}
:hover .calsi{
    background-color: aquamarine;
}